NSGLAMOUR_PORT=8766
NSGLAMOUR_ENABLE_CHARA_IMPORT=1
NSGLAMOUR_MAX_CHARA_UPLOAD_MB=5
NSGLAMOUR_ICON_BASE_URL=https://img.nightingalesilence.com/ui/icon
NSGLAMOUR_RS_READER_URL=http://127.0.0.1:18770
NSGLAMOUR_RS_READER_TOKEN_FILE=/run/secrets/nsglamour-reader-token
